<%= render('layouts/errors', :object => @tag) %>

<div class= "container">
  <%= form_for [@post, @tag], remote:true  do|f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <p><%= f.submit %></p>
  <% end %>
<div>
