<div class=cotainer>
  <div class = "column-center">
    <h3><%= @post.title %></h3><hr>
    <p><%= @post.description %></p>
  </div>
  <div class ="column-left">
    <div class ="col-md-4">
      <h5>Tags:</h5>

      <ul id= "ordered_tags">
        <% @post.tags.each do |tag| %>
          <li>
            <p><%= tag.name %><span id="<%= tag.id%>"><p>
          </li>
        <% end %>
      </ul>
      <p><%= link_to "Create New Tag", new_post_tag_path(@post), id: "new_tag_link", remote: true %></p>
    </div>
  </div>
  <div class = "column-right">
    <p align="center"><%= link_to "Edit Post", edit_post_path(@post) %></p>
    <p align="center"><%= link_to "Delete Post", post_path(@post),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></p>
  </div>
</div>
